.main {
  max-width: 42rem;
  margin: 0 auto;
  min-height: calc(100vh - 123px);
}

.main p {
  margin-bottom: 1.15rem;
}

.section {
  padding-bottom: 2rem;
}

.section h1,
.section h2 {
  margin-bottom: 1.15rem;
}

.headerAccent {
  font-size: 85%;
  font-style: italic;
  font-weight: normal;
}

.list {
  list-style: disc;
  padding-left: 1.15rem;
}

.detailList {
  --labelWidth: 5.5rem;

  list-style: none;
  padding-left: 0;
  margin-bottom: 1.15rem;
}

.detailList li {
  display: flex;
  gap: 1rem;
  justify-content: baseline;
}

.detailList li label {
  flex: 0 0 var(--labelWidth);
  text-align: right;
}

.stickySectionHeader {
  position: sticky;
  top: 0;
  padding: 0.5rem;
  background-color: rgb(var(--background-end-rgb));
  z-index: 2;
}
