.ActivityGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.ActivityCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 1rem;
  border-radius: 6px;
  background-color: var(--background-end-rgb);
  box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
