.CountdownContainer {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: 0 auto;
}

.Countdown {
  display: flex;
  gap: 1.15rem;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.Counter {
  text-align: center;
}
